{% extends "base.html" %}
{% load static }
{% load crispy_forms_tags %}

{% block content %}
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card text-center">
                        <div class="card-header">
                          Basic
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Basic</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card text-center">
                        <div class="card-header">
                          Premium
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Premium</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container">
          <form action="" method="POST">
            {{ tdee_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Calculate</button>
          </form>
        </div>
    </div>

{% endblock %}