{% extends "base.html" %}
{% load static }

{% block content %}
    <div class="overlay"></div>
    <div class="container shop-products">
        <div class="row">
                <div class="col">
                    <h2>Shopping Bag</h2>  
                </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div>
                        {% for item in bag_items %}
                            {{ item.product.name }}
                            {{ item.quantity }}
                            {{ item.product.price }}
                        {% endfor %}

                        Bag Total: £{{ total|floatformat:2 }}
                        Delivery: £{{ delivery|floatformat:2 }}
                        Grand Total: £{{ grand_total|floatformat:2 }}
                        {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                        Keep Shopping
                        Secure Checkout
                    </div>
                {% else %}
                    <p>Your bag is empty</p>
                    <a href="{% url 'shop' %}">Keep Shopping</a>
            </div>
                {% endif %}
        </div>
    </div>
    

{% endblock %}