{% extends "base.html" %}
{% load static }

{% block content %}
    <div class="container">
        <div class="hero px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Welcome To The Site</h1>        
        </div>
    </div>

    <div class="welcome">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-sm-4">TDEE Calculator</div>
                <div class="col-12 col-sm-4">Personalised Diet Plans and Workouts</div>
                <div class="col-12 col-sm-4">Testimonials</div>
            </div>
        </div>
    </div>

{% endblock %}