{% extends "base.html" %}
{% load static }

{% block content %}
    <div class="overlay"></div>
    <div class="container shop-products">
        <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ product.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.price }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  
                </div>
        </div>      
    </div>
    

{% endblock %}